
body {
    background-color: #0481fa;
    color: #ffffff;
    font-family: "Arial", sans-serif;
}

/* small screen body background */
main {
    background-color: #78a8ff;
    color: #ffffff;
}

.orangeCat {
    width: 50%;
}

nav a {
    display: inline-block;
    width: 120px !important; 
    background-color: #dddddd;
    margin-left: 10px;
    text-align: center;
    font-size: 1.25em;
    flex-direction: row;
}

.largeLogo {
    display: none;
    min-height: 50px;
}

header {
/* small screen header background */
    background-color: #78a8ff;
    display: inline-block;
    width: 100%;
    background-image: url(../images/LogoSmall.png);
    background-repeat: no-repeat;
    background-position: right, top;
}

aside {
    background-color: #5475b2;
    border-radius: 5px;
    border: 2px solid;
    border-color: black;
}

dt {
    font-weight: bold;
}

dd {
    font-style: italic;
}

/* cat images hosts page*/
.hosts-image {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
}

figcaption {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
}

.menu-header{
    text-align: center;
}

.advise-allergy{
    text-align: center;
    font-family: monospace;
}

.menu-body {
    background-image: url("../images/paper.jpg");
    color: black;
    width: 80%;
    border-radius: 5px;
}

a:link {
    color: black;
}

a:visited {
    color: navy;
}

a:hover {
    color:white;
    font-weight: bold;
}

.hero {
    width: 80%;
}

.navcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sponsors {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
}

.sponsor-image {
    width: 80px;
    border-radius: 25%;
}

.host-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
}

/* alumni cats grid small screen*/
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto  ;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  
.grid-container > div {
    text-align: center;
    padding: 20px 0;
    color:black;
  }

.grad-cat {
    width: 150px;
}

.grad-image1 {
    grid-row: 1 / 5;
}

@media screen and (min-width: 750px) {
    /* full screen background */
    body {
        background-color: #a0d2eb;
        color: #ffffff;
        font-family: "Arial", sans-serif;
    }

    /* full screen body background */
    main {
        background-color: #76b7fa;
        height: 100vh;
        overflow: scroll;
    }

    /* full screen header background */
    header {
        background-image: url(../images/LogoLarge.png);
        min-height: 100px;
        background-color: #76b7fa;
        margin-bottom: 25px;
    }

    aside {
        background-color: #6aa7fd;
    }

    .hosts-image {
        width: 150px;
        display: flex;
        border-radius: 100%;
    }

    nav a {
        display: block;
        width: 130px;
        background-color: #dddddd;
        margin-top: 10px;
        text-align: center;
        flex-direction: column;
    }

    /*2 column*/
    .row {
        display: flex;
    }
      
    .column-left {
        width: 25%;
    }

    .column-right {
        width: 75%;
    }

    /*hero image in menu page*/
    .hero {
        width: 80%;
    }

    .navcontainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    * {
        box-sizing: border-box;
    }
      
    .sidebar {
        height: 20vh;
    }

    .sponsors {
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;;
    }

    .host-gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 50px;
    }

    figcaption {
        text-align: center;
    }

    .sponsor-image {
        width: 100px;
        border-radius: 25%;
    }

    /* alumni cats grid large screen*/
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto  ;
        gap: 10px;
        background-color: white;
        padding: 10px;
      }
      
    .grid-container > div {
        text-align: center;
        padding: 20px 0;
        color:black;
      }

    .grad-cat {
        width: 250px;
    }

    .grad-image1 {
        grid-row: 1 / 3;
    }
      
}