
body {
    background-color: #0481fa;
    color: #ffffff;
    font-family: "Arial", sans-serif;
}

/* small screen body background */
main {
    background-color: #78a8ff;
    color: #ffffff;
}

.orangeCat {
    width: 50%;
}

li {
    display: inline;
}

.largeLogo {
    display: none;
    min-height: 50px;
}

header {
    /* small screen header background */
    background-color: #78a8ff;
    display: inline-block;
    width: 100%;
    background-image: url(../images/LogoSmall.png);
    background-repeat: no-repeat;
    background-position: right, top;
}

aside {
    background-color: #5475b2;
}

ul {
    font-size: 1.25em;
}

dt {
    font-weight: bold;
}

dd {
    font-style: italic;
}

/* cat images hosts page*/
.hosts-image {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

figcaption {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
}

.menu-header{
    text-align: center;
}

.advise-allergy{
    text-align: center;
    font-family: monospace;
}

.menu-body {
    background-image: url("../images/paper.jpg");
    color: black;
    width: 80%;
    border-radius: 5px;
}

a:link {
    color: black;
}

a:visited {
    color: orange;
}

a:hover {
    color:white;
    font-weight: bold;
}

@media screen and (min-width: 750px) {
    /* full screen background */
    body {
        background-color: #a0d2eb;
        color: #ffffff;
        font-family: "Arial", sans-serif;
    }

    /* full screen body background */
    main {
        background-color: #76b7fa;
    }

    /* full screen header background */
    header {
        background-image: url(../images/LogoLarge.png);
        min-height: 100px;
        background-color: #76b7fa;
    }

    aside {
        background-color: #6aa7fd;
    }

    .hosts-image {
        width: 180px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}