body {
    background-color: peru;
    color: bisque;
    font-family: "Arial", sans-serif;
}

main {
    background-color: saddlebrown;
    color: gainsboro;
}

.orangeCat {
    width: 50%;
}

nav {
    display: inline;
}

.largeLogo {
    display: none;
    min-height: 50px;
}

header {
    display: inline-block;
    width: 100%;
    background-image: url(../images/LogoSmall.png);
    background-repeat: no-repeat;
    background-position: right, top;
}

@media screen and (min-width: 750px) {
    body
    {
        background-color: maroon;
        color: moccasin;
        font-family: "Arial", sans-serif;
    }
    header {
        background-image: url(../images/LogoLarge.png);
        min-height: 100px;
    }

}